mat-list-item {
  display: flex;
  justify-content: space-between;
  /* Asegura que el texto y el icono estén en extremos opuestos */
  align-items: center;
  /* Centra verticalmente el contenido */
}

mat-icon {
  margin-left: 16px;
  /* Ajusta el espacio entre el texto y el icono */
  vertical-align: middle;
  /* Asegura que el icono esté alineado verticalmente con el texto */
}

p[matLine] {
  margin: 0;
  line-height: 24px;
  /* Ajusta la altura de la línea para alinear mejor el texto con el icono */
}
