<mat-nav-list role="list">
  <mat-list-item role="listitem" routerLink="">
    <div matListItemTitle>Home</div>
    <mat-icon matListItemIcon>home</mat-icon>
  </mat-list-item>
  <mat-list-item role="listitem" routerLink="/subscriptions">
    <div matListItemTitle>Subscriptions</div>
    <mat-icon matListItemIcon>subscriptions</mat-icon>
  </mat-list-item>
  <mat-list-item role="listitem" routerLink="/history">
    <div matListItemTitle>History</div>
    <mat-icon matListItemIcon>history</mat-icon>
  </mat-list-item>
  <mat-list-item role="listitem" routerLink="/liked-videos">
    <div matListItemTitle>Liked Videos</div>
    <mat-icon matListItemIcon>thumb_up</mat-icon>
  </mat-list-item>
</mat-nav-list>
