.player {
    width: 60%;
    /* Establece el ancho al 70% */
    background-color: lightblue;
}

.player-col {
  margin-left: 4%;
  margin-top: 2%;

}

.description {
  background-color: rgba(128, 128, 128, 0.568);
}

.video-info {
  display: flex;
  align-items: center;
}

.video-info p {
  margin: 5px;
}

.video-info div {
  margin: 5px;
}

.like-dislike-buttons {
  display: flex;
  align-items: center;
}
