.player {
    width: 60%;
    /* Establece el ancho al 70% */
    background-color: lightblue;
}

.player-col {
  margin-left: 4%;
  margin-top: 2%;

}

.description {
  background-color: rgba(128, 128, 128, 0.568);
}

.video-info {
  display: flex;
  align-items: center;
}

.video-info div {
  margin: 5px;
}

.like-dislike-buttons {
  display: flex;
  align-items: center;
}

.profile-avatar {
  background-size: cover;
}

.default-icon {
  width: 40px;
  /* Ajusta el tamaño según sea necesario */
  height: 40px;
  /* Ajusta el tamaño según sea necesario */
  font-size: 40px;
  /* Ajusta el tamaño según sea necesario */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.mat-button-toggle-checked {
  background-color: transparent !important;
  color: inherit !important;
  border-color: transparent !important;
}
